@model ByteTechSchoolERP.Models.ViewModels.LoginVM.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutAccessControl.cshtml";
}

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="~/assets/img/login.png" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h5>Welcome to ByteTech School ERP</h5>
                        <form asp-action="Login" method="post" asp-area="" class="mt-5">
                            <div class="local-forms label">
                                <label id="label-color">Username </label>
                                <input class="form-control" type="text" asp-for="Username" required>
                                <span class="profile-views"><i class="fas fa-user-circle"></i></span>
                            </div>
                            <br>
                            <div class="local-forms label">
                                <label id="label-color">Password </label>
                                <input class="form-control pass-input" type="password" asp-for="Password" required>
                                <span class="profile-views feather-eye toggle-password"></span>
                            </div>
                            <br>
                            <div class="forgotpass">
                                <div class="remember-me">
                                    <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">
                                        Remember me
                                        <input type="checkbox" asp-for="RememberMe">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Login</button>
                            </div>
                        </form>
                        <div class="login-or">
                            <span class="or-line"></span>
                            <span class="span-or">or</span>
                        </div>
                        <div class="social-login">
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
