<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-sub-header">
                        <h3 class="page-title">Welcome Teacher!</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Teacher</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


     

        <div class="row mt-5">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card flex-fill fb sm-box">
                    <div class="social-likes">
                        <p> Total Students</p>
                        <h6>500</h6>
                    </div>
                    <div class="social-boxs">
                        <img src="~/assets/img/icons/dash-icon-01.svg" alt="Social Icon">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card flex-fill twitter sm-box">
                    <div class="social-likes">
                        <p> Present Student </p>
                        <h6>70+</h6>
                    </div>
                    <div class="social-boxs">
                        <img src="~/assets/img/icons/employee.png" width="65px" alt="Social Icon">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card flex-fill insta sm-box">
                    <div class="social-likes">
                        <p> Absent Student</p>
                        <h6>5</h6>
                    </div>
                    <div class="social-boxs">
                        <img src="~/assets/img/icons/icons8-revenue-64.png" width="50px" alt="Social Icon">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card flex-fill linkedin sm-box">
                    <div class="social-likes">
                        <p>Leave Student</p>
                        <h6>7</h6>
                    </div>
                    <div class="social-boxs">
                        <img src="~/assets/img/icons/dash-icon-04.svg" alt="Social Icon">
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-info">
                                <h6>
                                    Position Holders
                                </h6>
                                <h3>40</h3>
                            </div>
                            <div class="db-icon">
                                <img src="~/assets/img/icons/dash-icon-01.svg" alt="Dashboard Icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-info">
                                <h6>Total Courses</h6>
                                <h3>50+</h3>
                            </div>
                            <div class="db-icon">
                                <img src="~/assets/img/icons/teacher-icon-02.svg" alt="Dashboard Icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-info">
                                <h6>Awards</h6>
                                <h3>30+</h3>
                            </div>
                            <div class="db-icon">
                                <img src="~/assets/img/icons/dash-icon-02.svg" alt="Dashboard Icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-comman w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-info">
                                <h6>Events</h6>
                                <h3>2</h3>
                            </div>
                            <div class="db-icon">
                                <img src="~/assets/img/icons/events.png" alt="Dashboard Icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        

        <div class="row">
            <div class="col-md-12 col-lg-6">

                <div class="card card-chart">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Student Management</h5>
                            </div>
                            <div class="col-6">
                                <ul class="chart-list-out">
                                    <li><span class="circle-blue"></span>  Income</li>
                                    <li><span class="circle-green"></span>Expense</li>
                                    <li class="star-menus">
                                        <a href="javascript:;">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="apexcharts-area"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-lg-6">

                <div class="card card-chart">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Attendance & Participation</h5>
                            </div>
                            <div class="col-6">
                                <ul class="chart-list-out">
                                    <li><span class="circle-blue"></span>Girls</li>
                                    <li><span class="circle-green"></span>Boys</li>
                                    <li class="star-menus">
                                        <a href="javascript:;">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="bar"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 d-flex">
                <div class="card flex-fill student-space comman-shadow">
                    <div class="card-header d-flex align-items-center">
                        <h5 class="card-title">Student Performance</h5>
                        <ul class="chart-list-out student-ellips">
                            <li class="star-menus">
                                <a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card text-white bg-success mt-5" style="height: 200px;">
                                    <div class="card-body text-center">
                                        <h6 class="card-title" style="color: white; margin-top: 30px;">Total Present</h6>
                                        <p class="display-4"> </p>
                                        <i class="fas fa-check-circle fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card text-white bg-danger mt-5" style="height: 200px;">
                                    <div class="card-body text-center">
                                        <h6 class="card-title" style="color: white; margin-top: 30px;">Total Absent</h6>
                                        <p class="display-4"> </p>
                                        <i class="fas fa-times-circle fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Link to Font Awesome for icons -->

            <div class="col-xl-6 d-flex">

                <div class="card flex-fill comman-shadow">
                    <div class="card-header d-flex align-items-center">
                        <h5 class="card-title ">
                            Communication Tools
                        </h5>
                        <ul class="chart-list-out student-ellips">
                            <li class="star-menus">
                                <a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div id="school-area"></div>

                    </div>
                </div>

            </div>
        </div>



    </div>


    <footer>
        <p>Copyright © 2024 ByteTech School ERP</p>
    </footer>
</div>