<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Management</title>
     <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background:#f7f7fa;">
    <div class="page-wrapper" >

        <div class="tab-container container-fluid mt-3 ">


            <div class="col-md-12">

                <div class="style-0" style="max-width: 100%; margin:0px;">
                    <strong>HR Management  </strong>
                    <i class="fas fa-home home-icon"></i> -  Manage Role
                </div>
            </div>


        </div>
        <div class=" tab-container container-fluid mt-5 p-3 bg-white"  >
            <h5 class="mb-4">Role Management</h5>
            <!-- Create/Edit Role Modal -->
            <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="roleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="roleModalLabel">Add/Edit Role</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="roleForm">
                                <input type="hidden" id="roleId">
                                <div class="form-group">
                                    <label for="roleName">Role Name</label>
                                    <input type="text" class="form-control" id="roleName" required>
                                </div>
                                <button type="submit" class="btn btn-primary" id="saveRoleBtn">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Role Table -->
            <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#roleModal" id="addRoleBtn">Add Role</button>
            <table class="table table-striped" id="example4" >
                <thead style="background-color:rgb(94, 114, 228); height:40px !important;">
                    <tr style="color:#fff;">
                        <th>Role Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="roleTableBody">
                    <!-- Rows will be populated here by JavaScript -->
                </tbody>
            </table>
        </div>

        <script>
            $(document).ready(function () {
                console.log('jQuery is working!');

                $('#addRoleBtn').click(function () {
                    $('#roleModalLabel').text('Add Role');
                    $('#roleForm')[0].reset();
                    $('#roleId').val('');
                    $('#saveRoleBtn').text('Save');
                });

                $('#roleForm').submit(function (e) {
                    e.preventDefault();
                    const id = $('#roleId').val();
                    const name = $('#roleName').val();

                    if (id) {
                        // Update existing role
                        $.ajax({
                            url: `/Admin/HRM/PutRole`,
                            type: 'PUT',
                            data: {
                                id:id,
                                name:name
                            },
                            success: function () {
                                $('#roleModal').modal('hide');
                                loadRoles();
                            },
                            error: function () {
                                alert('Error updating role.');
                            }
                        });
                    } else {
                        // Add new role
                        $.ajax({
                            url: '/Admin/HRM/postrole',
                            type: 'POST',
                            data: {
                                name:name
                            },
                            success: function () {
                                $('#roleModal').modal('hide');
                                loadRoles();
                            },
                            error: function () {
                                alert('Error creating role.');
                            }
                        });
                    }
                });

                function loadRoles() {
                    $.get('/Admin/HRM/getRoles', function (data) {
                        let rows = '';
                        data.forEach(role => {
                            rows += `
                                        <tr>
                                            <td>${role.name}</td>
                                            <td>
                                                            <button class="btn btn-warning btn-sm" onclick="editRole('${role.id}','${role.name}')">Edit</button>
                                                <button class="btn btn-danger btn-sm" onclick="deleteRole('${role.id}')">Delete</button>
                                            </td>
                                        </tr>
                                    `;
                        });
                        $('#roleTableBody').html(rows);
                    });
                }

                window.editRole = function (id,roleName) {
                    $('#roleModalLabel').text('Edit Role');
                    $('#roleId').val(id);
                    $('#roleName').val(roleName);
                    $('#saveRoleBtn').text('Update');
                    $('#roleModal').modal('show');
                };

                window.deleteRole = function (roleName) {
                    if (confirm('Are you sure you want to delete this role?')) {
                        $.ajax({
                            url: `/Admin/HRM/deleterole/${roleName}`,
                            type: 'DELETE',
                            success: function () {
                                loadRoles();
                            },
                            error: function () {
                                alert('Error deleting role.');
                            }
                        });
                    }
                };

                loadRoles();
            });

            $(document).ready(function () {
                // Initialize DataTable
                $('#example4').DataTable({
                    responsive: true
                });
            });
        </script>
    </div>
</body>
</html>
