@model ByteTechSchoolERP.Models.ClassAndSection.SubjectAllocation
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<div class="page-wrapper">


    <div class="tab-container container-fluid mt-3">
        <div class="col-md-12">
            <div class="style-0" style="max-width: 100%;margin:0px;">
                <strong> Subject  Management</strong> |
                <i class="fas fa-home home-icon"></i> -  Assign class teacher
            </div>
        </div>


    </div>

    <div class="tab-container container-fluid d-md-flex">
        <div class="col-md-6 mt-4" id="classFormContainer">
            <div class="style-0" style="max-width:100%; margin:0px;" id="classFormData">
                <form id="addClassForm" asp-action="AssignSubject" method="post">
                    <div class="col-12 d-flex justify-content-center">
                    <h5 class="formTitle">Assign Subject</h5>
                    </div>
                    <br />
                     
                    <!-- Class Dropdown -->
                    <div class="local-forms label" style="position: relative;">
                        <label id="label-color">Class<span class="login-danger">*</span></label>
                        <select id="classDropdown" class="form-control" asp-for="ClassId" asp-items="ViewBag.Classes" required style="padding-right: 30px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'black\' width=\'18px\' height=\'18px\'><path d=\'M7 10l5 5 5-5z\'/><path d=\'M0 0h24v24H0z\' fill=\'none\'/></svg>'); background-repeat: no-repeat; background-position: right center;">
                            <option value="">Select Class</option>
                        </select>
                    </div>
                    <br />

                    <!-- Section Dropdown -->
                    <div class="local-forms label" style="position: relative;">
                        <label id="label-color">Section<span class="login-danger">*</span></label>
                        <select id="sectionDropdown" class="form-control" asp-for="SectionId" asp-items="ViewBag.Sections" required style="padding-right: 30px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'black\' width=\'18px\' height=\'18px\'><path d=\'M7 10l5 5 5-5z\'/><path d=\'M0 0h24v24H0z\' fill=\'none\'/></svg>'); background-repeat: no-repeat; background-position: right center;">
                            <option value="">Select Section</option>
                        </select>

                    </div>
                    <br />

                    <!-- Subject Dropdown -->
                    <div class="local-forms label" style="position: relative;">
                        <label id="label-color">Subject<span class="login-danger">*</span></label>
                        <select id="subjectDropdown" class="form-control" asp-for="SubjectId" asp-items="ViewBag.Subjects" style="padding-right: 30px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'black\' width=\'18px\' height=\'18px\'><path d=\'M7 10l5 5 5-5z\'/><path d=\'M0 0h24v24H0z\' fill=\'none\'/></svg>'); background-repeat: no-repeat; background-position: right center;">
                            <option value="">Select Subject</option>
                        </select>
                    </div>
                    <br />

                    <!-- Teacher Dropdown -->
                    <div class="local-forms label" style="position: relative;">
                        <label id="label-color">Teacher<span class="login-danger">*</span></label>
                        <select id="teacherDropdown" class="form-control" asp-for="TeacherId" asp-items="ViewBag.Teachers" required style="padding-right: 30px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 24 24\' fill=\'black\' width=\'18px\' height=\'18px\'><path d=\'M7 10l5 5 5-5z\'/><path d=\'M0 0h24v24H0z\' fill=\'none\'/></svg>'); background-repeat: no-repeat; background-position: right center;">
                            <option value="">Select Teacher</option>
                        </select>
                    </div>
                    <br />

                    <div class="buttonContainer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 mt-4" id="classFormContainers">
            <div class="style-0" id="classFormData" style="max-width:100%; margin:0px;">
                <div class="col-12 d-flex justify-content-center">
                <h5 class="formTitle">Subject List</h5>
                </div>
                <div class="table-responsive">
                    <table id="subjectAllocationsTable" class="display mt-2" style="width:100%">
                    <thead style="background-color: rgb(94, 114, 228); color: white;">
                        <tr>
                           
                            <th>Teacher</th>
                            <th>Class</th>
                            <th>Subject</th>
                            <th>Section</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data will be populated here by DataTables -->
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>



</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Function to check if the combination already exists
            function doesCombinationExist(classId, sectionId, subjectId) {
                let exists = false;
                $('#subjectAllocationsTable tbody tr').each(function () {
                    let currentClass = $(this).find('td').eq(1).text().trim();
                    let currentSection = $(this).find('td').eq(3).text().trim();
                    let currentSubject = $(this).find('td').eq(2).text().trim();

                    if (currentClass == classId && currentSection == sectionId && currentSubject == subjectId) {
                        exists = true;
                        return false; // Exit loop if combination is found
                    }
                });
                return exists;
            }

            // Handle form submission
            $('#addClassForm').on('submit', function (e) {
                let classId = $('#classDropdown option:selected').text().trim();
                let sectionId = $('#sectionDropdown option:selected').text().trim();
                let subjectId = $('#subjectDropdown option:selected').text().trim();

                if (doesCombinationExist(classId, sectionId, subjectId)) {
                    e.preventDefault();
                    alert('This combination of Class, Section, and Subject already exists.');
                }
            });

            // Update DataTable with existing data
            $.ajax({
                url: '@Url.Action("GetSubjectAllocations")',
                type: 'GET',
                success: function (response) {
                    console.log('Response:', response);

                    // Initialize DataTable
                    $('#subjectAllocationsTable').DataTable({
                        data: response.data,
                        columns: [
                            { "data": "teacher" },
                            { "data": "class" },
                            { "data": "subject" },
                            { "data": "section" }
                        ]
                    });
                },
                error: function (xhr, status, error) {
                    console.error('An error occurred:', status, error);
                }
            });

            // Update sections when a class is selected
            $('#classDropdown').change(function () {
                var classId = $(this).val();
                if (classId) {
                    $.ajax({
                        url: '/Admin/SubjectManagement/GetSectionsByClass',
                        type: 'GET',
                        data: { classId: classId },
                        success: function (data) {
                            var sectionDropdown = $('#sectionDropdown');
                            sectionDropdown.empty();
                            sectionDropdown.append('<option value="">Select Section</option>');
                            $.each(data, function (index, item) {
                                sectionDropdown.append('<option value="' + item.id + '">' + item.name + '</option>');
                            });
                        }
                    });
                }
            });

            // Update subjects when a section is selected
            $('#sectionDropdown').change(function () {
                var sectionId = $(this).val();
                if (sectionId) {
                    $.ajax({
                        url: '/Admin/SubjectManagement/GetSubjectsBySection',
                        type: 'GET',
                        data: { sectionId: sectionId },
                        success: function (data) {
                            console.log('Received data:', data);
                            var subjectDropdown = $('#subjectDropdown');
                            subjectDropdown.empty();
                            subjectDropdown.append('<option value="">Select Subject</option>');
                            $.each(data, function (index, item) {
                                console.log('Appending option:', item);
                                subjectDropdown.append('<option value="' + item.id + '">' + item.subjectName + '</option>');
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error('Error fetching subjects:', error);
                        }
                    });
                }
            });
        });
    </script>
}



                    